<p style="color: green"><%= notice %></p>
<div class='container'>
  <p>Theme:<%= @round.theme %></p>
  <p>Description: <%= @round.description %></p>
  <p>Next deadline: <%= @round.submission_deadline %></p>
  <p><%= @round.voting_deadline %></p>
</div>

<div class='container'>
  <div class="">
  <% @submissions.each do |sub| %>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= sub.moviename %></h5>
            <p class="card-text"><%= sub.comment %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
<div>
  <%= link_to "New Submission", new_round_submission_path(@round) %>
  <%#= link_to "Back to rounds", rounds_path %>

  <%#= button_to "Destroy this round", @round, method: :delete %>
</div>
